*{
    margin: 0;
    padding: 0;
}
#heading{
    margin-left: 10px;
}
.navbar img{
    margin-right: 10px;
    margin-left: 5px;
    padding: 2px;
}



.kerala h2{
    font-size: 50px;
    padding-top: 150px;
    color: red;
    text-align: center;
    padding-bottom: 50px;
    
}

.card a{
    text-align: center;
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.card{
    margin-bottom: 1.2rem;
}
.kerala{
    
    background-color: black;
     
}
.row{
    padding-bottom: 100px;
}
